<!DOCTYPE html>

<head>
	<title>Login</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
	<script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
</head>

<body>


	<div>
		<form action="#" method="GET" enctype="multipart/form-data">
			<fieldset>
				<legend>User Login</legend>
				<div>
					<label for="account">帳號</label> <input type="text" id="account" maxlength="18" size="10" autofocus
						autocomplete="off" required> <span id="sp1">請輸入帳號 </span>
					<hr>
				</div>
				<div>
					<label for="password">密碼</label> <input type="password" id="password" maxlength="12" size="10"
						required> <span id="sp2id">請輸入密碼 </span>
					<hr>
				</div>
			</fieldset>
			<div>
				<input type="submit" value="送出"> <input type="reset" value="清除">
			</div>
		</form>
		<script>


		</script>
</body>

</html>