<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Class Table</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"
            src="../static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"
            src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container center">
    <h2>The Round Table Project</h2>
    <p>edit class</p>
    <form action="/editTable" th:action="@{/classTable/editTable}" method="post" th:object="${classTable}">
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" name="title" th:value="*{title}">
        </div>
        <div class="form-group">
            <label for="subTitle">subTitle</label>
            <input type="text" class="form-control" id="subTitle" name="subTitle" th:value="*{subTitle}">
        </div>
        <div class="form-group">
            <label for="speaker">speaker</label>
            <input type="text" class="form-control" id="speaker" name="speaker" th:value="*{speaker}">
        </div>
        <div class="form-group">
            <label for="weekly">weekly</label>
            <input type="text" class="form-control" id="weekly" name="weekly" th:value="*{weekly}">
        </div>
        <div class="form-group">
            <label for="date">date</label>
            <input type="text" class="form-control" id="date" name="date" th:value="*{date}">
        </div>
        <div class="form-group">
            <label for="seqNo">seqNo</label>
            <input type="text" class="form-control" id="seqNo" name="seqNo" th:value="*{seqNo}">
        </div>

        <input type="hidden" name="id" th:value="*{id}">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>