<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" th:src="@{static/js/jquery-3.6.0.min.js}"
            src="../static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{static/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
    <script type="text/javascript" th:src="@{static/js/bootstrap.bundle.min.js}"
            src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form class="modal-content animate" action="/action_page.php" method="post">

    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" required>

        <button type="submit">Login</button>
    </div>

</form>


</body>
</html>