<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"
            src="../static/js/jquery-3.6.0.min.js"></script>
</head>
<body>

<button onclick="socialShare('message')">Message FB</button>
<button onclick="socialShare('FB')">share FB</button>
<button onclick="socialShare('Line')">Line</button>
<button onclick="socialShare('IG')">IG</button>
<button onclick="socialShare('SMS')">SMS</button>
<button onclick="socialShare('email')">email</button>
<button onclick="socialShare('Gmail')">Gmail</button>
<button onclick="socialShare('AirDrop')">AirDrop</button>
<button onclick="webShare()">WebShare</button>

<a href="sms:?&body=asdasvsvsdfsdfaf">IOS SMS Link</a>
<a href="sms:?&body=This is what I want to sent">click to text</a>
<a href="mailto:?&subject=My subject&body=This is what I want to sent">click to email</a>
<!--
<a href="line://msg/text/《風傳媒》俄羅斯打不下烏克蘭，原因竟跟台灣有關！前蘇聯軍官：台灣制裁了這個技術%0D%0Ahttps://www.storm.mg/lifestyle/4256000"
   class="line_btn share_content line_mobile">
    Line Share
</a>
-->
<a href="javascript:void(0);"
   onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://www.storm.mg/lifestyle/4256000', 'facebook', config='height=600,width=600')"
   class="fb_circle_btn share_content with_hover" target="_blank">
    FB share
</a>

<script>
    function socialShare(mediaType) {
        let title = "TSstar %0D%0A";
        let coupon = "ererwer";
        let couponUrl = "https://www.google.com";
        let text = "asdasdfff %0D%0A 我的序號 : " + coupon + " %0D%0A 網址: " + couponUrl;
        alert(mediaType);
        if (mediaType == "Line") {

            let url = "line://msg/text/" + title + text;
            window.open(url, '_blank');
        }
        if (mediaType == "FB") {
            let url = "https://www.facebook.com/sharer/sharer.php?u=" + couponUrl + "&t=" + title + "&t=" + text;
            window.open(url, '_blank');
        }
        if (mediaType == "Gmail") {
            let url = 'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=Your+Subject+here&body=' + text + '&ui=2&tf=1&pli=1';
            window.open(url, '_blank');
        }
        if (mediaType == "SMS") {
            let url = "sms:?&body=" + text;
            window.open(url, '_blank');
        }
        if (mediaType == "email") {
            let url = "mailto:?&subject=" + title + "&body=" + text;
            window.open(url, '_blank');
        }
    }

    function webShare() {
        let shareData = {
            title: 'ts-star',
            text: 'asdas %0a afagwg',
            url: 'tw.yahoo.com'
        }
        if (navigator.share) {
            navigator.share(shareData);
        } else {
            alert("q1sd")
        }
    }

</script>
</body>
</html>